/* Estilos para o fundo azul e a imagem de fundo */
.login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura total da tela */
  background-color: #3674b5; /* Cor de fundo azul */
  background-image: url('C:\users\jessica.waismann\Desktop\Harve\ecommerce\public\imagem\computer.png'); /* Substitua com o caminho da sua imagem */
  background-size: cover;
  background-position: center;
}

/* Estilos para o formulário dentro do .login-container */
.login-form {
  background: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente para o formulário */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Largura máxima do formulário */
  width: 100%; /* Garante que o formulário ocupe toda a largura disponível */
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
